In [15]:
import pandas as pd

I want to store passenger data of the Titanic. For a number of passengers, I know the name (characters), age (integers) and sex (male/female) data.

In [16]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

## Each column in a DataFrame is a Series

Iâ€™m just interested in working with the data in the column Age

In [17]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

You can create a Series from scratch as well:

In [18]:
ages = pd.Series([22, 35, 58], name="Age")

ages

0    22
1    35
2    58
Name: Age, dtype: int64

## Do something with a DataFrame or Series

I want to know the maximum Age of the passengers

We can do this on the DataFrame by selecting the Age column and applying max():

In [19]:
df["Age"].max()
ages + 1

0    23
1    36
2    59
Name: Age, dtype: int64

Or to the Series:

In [20]:
ages.max()

58

I"m interested in some basic statistics of the numerical data of my data table

In [21]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000